{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/account.css')}}">
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-12 text-right mt-3">
                        <a class="btn btn-labeled btn-info" href="{{path('app_edit_account', {id : app.user.id})}}">
                            <span class="btn-label"><i class="el-icon-edit"></i></span>modifier
                        </a>
                    </div>
                    <div class="col-md-2 no-pad">
                        <div class="user-image">
                            <img src="{{app.user.avatarUrl}}" class="img-responsive thumbnail">
                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad">
                            <h3>{{app.user.firstname}} {{app.user.lastname}}</h3>
                            <h4 class="white"><i class="el-icon-message"></i> {{app.user.email}}</h4>
                            <br>
                            {% if app.user.company %}


                                <h4>{{app.user.company.name}}</h4>
                                
                                <h5>Domaines</h5>
                                <ul>
                                    <li>Fiel 1</li>
                                </ul>

                                {% else %}
                                
                                <span class="h5">Société :</span> 
                                <a class="btn btn-labeled btn-info" href="#">ajouter</a>

                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                <div class="row overview justify-content-center">
                    
                    {% if app.user.company %}
                        <div class="col-md-10 user-pad">
                            <h3 class="text-center mb-3">A propos de {{app.user.company.name}}</h3>
                            <p>Lorem .....</p>
                        </div>
                    {% endif %}
                    
                    <div class="col-md-4 user-pad text-center">
                        <h3>Dernières offres publiées</h3>
                        <a class"btn btn-info" href="#">voir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

        </div>
    </div>

{% endblock %}
