{% extends "base.html.twig" %}
{% block title %}Job Offers{% endblock %}
{% block body %}

<div id="content" class="col-12">
	<div class='jumbotron jumbotron-fluid text-center'>
		<h1 class='display-2'>Offres d'emploi</h1>
    </div>
    
    <div class="row">

	{% for job in jobList %}
		<div class="col-md-3 col-12 mb-5">
			<div class="card-deck">
				<div class="card jobbo-card">
					<div class="">
						<img class="img-fluid" src="{{asset(job.getImagePath)}}" width="">
					</div>
				
					<div class="card-body">
						<div class="card-title text-center">
							<a href='{{path('app_job_view', {slug : job.slug })}}'>
								<h4 class="text-center">{{job.title}}</h4>
							</a>
							<!-- categories -->
							<ul>
								{% for tag in job.tags %}
									<li class='badge badge-pill badge-secondary font-weight-light'>{{tag.name}}</li>
								{% endfor %}    
							</ul>
							<!-- end categories -->
							
						</div>
						<hr>

						<div class="text-center">
							<h5 class="mb-3">Pôle
								<strong>TODO</strong>
							</h5>
							
						</div>
					</div>
					<div class="card-footer">
						<div class="action-btn text-center mx-auto">
						<a href="" class="btn btn-info">Postuler</a>
						</div>
						<hr>

						<div class="text-center">
							
							<a href="" class="js-favorite-jobOffer">
								<span class="js-favorite"></span>
								<i class="js-icon far fa-star"></i>
							</a>

						</div>
					</div>


				</div>
			</div>
		</div>

	{% endfor %}
	</div>	

</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}
<script src="{{ asset('js/jobOffer.js')}}"></script>

{% endblock %}
