{% extends "base.html.twig" %}

{% block title %}Job Offers{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-12">
            <div class='jumbotron jumbotron-fluid text-center'>
                <h2 class='display-2'>Espace Recruteur</h2>
                <h3 class='display-3'>Vos offres d'emploi</h3>
            </div>
        </div>

        <div class="col-6 mx-auto mb-4">
            <form class=" text-center">
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           placeholder="Recherche..."
                           value="{{app.request.query.get('q')}}"
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <h3 class="col-12 text-center">
	        {{jobsList|length}} offre{% if jobsList|length > 2 %}s{% endif %} d'emploi</h3>
        {% for job in jobsList %}
            <div class="col-3 mb-3">
                <div class="card jobbo-card">
                    <div class="">
						<img class="img-fluid" src="{{asset(job.getImagePath)}}" width="">
					</div>
                    <div class="card-body">
                        <div class="card-title text-center">
                            <a href='{{path('app_recruiter_job_show', {'id' : job.id})}}'>

                                <h4 class="text-center">{{job.title}}</h4>
                                
                            </a>

                            <!-- categories -->
							<ul>
								{% for tag in job.tags %}
									<li class='badge badge-pill badge-secondary font-weight-light'>{{tag.name}}</li>
								{% endfor %}    
							</ul>
							<!-- end categories -->
                        </div>
                        <hr>

                        <div class="text-center">
                            <h5 class="mb-3">
                                <small class="text-muted">créé par {{job.author}}</small>
                            </h5>


                            <a href="{{path('app_applications_list', {'id' : job.id})}}" class="btn btn-info btn-sm m-2">
                                <small>candidatures</small>
                                <span class='badge badge-light'>{{job.getNonDeletedApplications|length}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">

                            <small class="text-muted">annonce créée le {{job.createdAt|date('d/m/y')}}</small>
                            <br>
                            {% if job.isPublished == true %}
                                <span class="badge badge-pill badge-info">en ligne</span>

                            {% else %}
                                <span class="badge badge-pill badge-warning">brouillon</span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div> 
 
        {% endfor %}
    </div>



{% endblock %}